# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# .env file to keep sensitive data secure
.env

# build output
/build
/dist

# Logs
*.log

# IDE and editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
